@font-face {
    font-family: Inter;
    src: url("/assets/fonts//static/Inter-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
}

.container {
    width: 300px;
    border: 2px none;
    padding: 20px;
    margin: 50px auto;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    text-align: center;
}

.profile-img{
    width: 100px;
    border-radius: 999px;
    display: block;
    margin: auto;
}

.profile-name{
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin-top: 20px;
}
.location{
    text-align: center;
    color: hsl(75, 94%, 57%);
    margin: 10px 0px;
}
.description {
    color: hsl(0, 0%, 92%);
    text-align: center;
    font-weight: 20px;
    margin: 30px 0px;
}

.link {
    display: block;
    margin-top: 10px;
    padding: 11px;
    border: 1px none;
    border-radius: 10px;
    color: hsl(0, 0%, 92%);
    background-color: hsl(0, 0%, 20%);
}